<ion-header>
  <ion-toolbar style="padding-top: 50px; padding-bottom: 30px">
    <ion-row style="display: flex; justify-content: center; align-items: center; margin-left: 40px; margin-right: 70px">
      <ion-col size="3" style="display: flex; justify-content: center; align-items: center; ">
        <img alt="logo" src="assets/usuario1.png" />
      </ion-col>
      <ion-col size="9" style="display: flex; justify-content: center; align-items: center;">
        <a style="color: #A6473F; font-weight: bold; font-size: 50px;">Perfil</a>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div style="display: flex; justify-content: center; align-items: flex-start; height: 100%; margin-top: 30px">
    <div style="position: relative; width: 90%; max-width: 400px">
      <img alt="logo" src="assets/logo.png" style="width: 70px; height: 70px; position: absolute; top: -5px; left: -10px;z-index: 2">
      <img alt="logo" src="assets/sumar.png" style="width: 30px; height: 30px; position: absolute; top: 120px; left: 205px;z-index: 2">

      <ion-card style="overflow: visible; background-color: #A2E2DF; border-radius: 10px; padding: 20px; height: 500px;">
        <ion-grid>
          <ion-row style="display: flex; justify-content: center; align-items: center">
            <img src="assets/usuario3.png">
          </ion-row>
          <ion-row>
            <ion-label style="margin-top: 20px; color: #A6473F"><b>Usuario:</b> Juan Carlos</ion-label>
          </ion-row>
          <ion-row>
            <ion-label style="margin-top: 20px; color: #A6473F"><b>Email:</b> jc&#64;gmail.com</ion-label>
          </ion-row>
          <ion-row>
            <ion-label style="margin-top: 20px; color: #A6473F"><b>Contraseña:</b> ********</ion-label>
          </ion-row>
          <ion-row style="display: flex; justify-content: center; align-items: center; margin-top: 190px;">
            <ion-button id="modificar">Modificar</ion-button>

            <ion-modal #modal trigger="modificar">
              <ng-template>
                <ion-list>
                  <ion-label class="titulo">Modificar Perfil</ion-label>
                  <ion-input label="Usuario nuevo:" placeholder="Usuario" class="escribir"></ion-input>
                  <ion-input label="Email nuevo:" placeholder="Email" class="escribir"></ion-input>
                  <ion-input label="Contraseña nueva:" placeholder="Contraseña" class="escribir"></ion-input>
                </ion-list>
                <ion-toolbar>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6" style="display: flex; justify-content: center; align-items: center;">
                        <ion-button (click)="modal.dismiss()">
                          <img alt="cancel" src="assets/cancel.png">
                        </ion-button>
                      </ion-col>
                      <ion-col size="6" style="display: flex; justify-content: center; align-items: center;">
                        <ion-button (click)="modal.dismiss()">
                          <img alt="ok" src="assets/ok.png">
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-toolbar>
              </ng-template>
            </ion-modal>

          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col style="display: flex; justify-content: center; align-items: center" (click)="navigateToRetroceso()">
        <img alt="retroceso" style="width: 50px; height: 50px;" src="assets/chat.png">
      </ion-col>
      <ion-col style="display: flex; justify-content: center; align-items: center" (click)="navigateToCentral()">
        <img alt="retroceso" src="assets/central.png">
      </ion-col>
      <ion-col style="display: flex; justify-content: center; align-items: center">
        <ion-menu-button menu="first">
          <img alt="ajustes" src="assets/ajustes.png" (click)="openMenu()">
        </ion-menu-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
