ion-modal {
  --height: 30%;
  --width: 70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --background: #DCE5E4;
}

ion-modal ion-list {
  background-color: #DCE5E4 !important;
  margin-top: 20px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #A6473F;
}

.opcion {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  color: #A6473F;
}

.elecciones {
  margin-left: 10px;
}

.escribir {
  color: #A6473F;
  margin-left: 10px;
  width: 90%;
}

ion-modal ion-toolbar {
  --background: #DCE5E4;
}

ion-modal ion-button {
  --background: #DCE5E4;
  width: 80px;
  margin-top: 0px;
}

ion-modal ion-button.button-1 {
  --background: #FF5733; /* Color para el primer botón */
}

ion-modal ion-button.button-2 {
  --background: #33FF57; /* Color para el segundo botón */
}

